{% extends 'base.html.twig' %}

{% block title %} Cervezas Web App  {% endblock %}

{% block body %} 
    <h1> ¡Bienvenido! </h1>
    {{form_start(loginform)}} 
    {{form_widget(loginform)}} 
    {{form_end(loginform)}}
    <a href="/user/views/register"> 
        <button>Register</button>
    </a>
{% endblock %}