{% extends 'base.html.twig' %}

{% block title %} Cervezas Web App - Registro correcto!  {% endblock %}

{% block body %} 
    <h1>¡Registro correcto!</h1>
    <a href="/">Volver a la página de login</a>
{% endblock %}

