{% extends 'base.html.twig' %}

{% block title %} Cervezas Web App  {% endblock %}

{% block body %} 
    <h1>Edición del comentario</h1>
    {{form_start(editnoteform)}} 
    {{form_widget(editnoteform)}} 
    {{form_end(editnoteform)}}
{% endblock %}
