{% extends 'base.html.twig' %}

{% block title %} Cervezas Web App  {% endblock %}

{% block body %} 
    <h1>¡Cerveza eliminada de tu usuario!</h1>
    <p>La cerveza {{ beerName }} con el commentario {{ beerNote }}
        acaba de ser suprimida de tu lista<p>
        <a href="/user/{{ app.session.get('userId') }}"><button>Volver al Panel</button></a>
{% endblock %}
