{% extends 'base.html.twig' %}

{% block title %} Cervezas Web App  {% endblock %}

{% block body %} 
    <h1> ¡Login Invalido! </h1>
    <p> {{reason}} </p>
    <a href="/">Reintentar</a>
{% endblock %}
